{% extends base_template %}

{% load seahub_tags avatar_tags group_avatar_tags i18n %}
{% load url from future %}

{% block nav_group_class %}class="cur"{% endblock %}

{% block title_panel %}

<div class="tabnav">
    <div class="grp-profile fright">
        {% grp_avatar group.props.id 24 %}<span class="name">{{ group.group_name }}</span>
    </div>
    <ul class="tabnav-tabs">
        <li class="tabnav-tab"><a href="{% url 'group_info' group.id %}">{% trans "Libraries" %}</a></li>
        <li class="tabnav-tab tabnav-tab-cur">{% trans "Discussions" %}</li>
        <li class="tabnav-tab"><a href="{% url 'group_wiki' group.id %}">{% trans "Wiki" %}</a></li>
        {% if is_staff %}
        <li class="tabnav-tab"><a href="{% url 'group_manage' group.id %}">{% trans "Admin" %}</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}

{% block left_panel %}

<div class="info-item">
    <div class="info-item-top ovhd">
        <h3 class="fleft">{% trans "Members" %}</h3>
    </div>
    <div class="info-item-bottom">
        {% if common_members %}
          <ul>
            {% for member in common_members %}
              {% if forloop.counter0 < group_members_default_display %}
                <li class="member">{% avatar member.user_name 16 %}<a class="name" href="{{ SITE_ROOT }}profile/{{ member.user_name }}/">{{ member.user_name|email2nickname }}</a></li>
              {% else %}
                {% if forloop.last %}
                  <li>...</li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        {% else %}
          <p>{% blocktrans %}No members{% endblocktrans %}</p>
        {% endif %}
    </div>
</div>

{% if is_join %}
<div class="info-item">
    <h3 class="info-item-top">{% trans "Operations" %}</h3>
    <ul class="info-item-bottom op-list">
        {% if is_staff %}
        <li><a id="group-mgr" href="{% url 'group.views.group_manage' group.id %}">{% trans "Administration" %}</a></li>
        {% else %}
        <li><a id="quit-group" href="#" data-url="{{ SITE_ROOT }}group/{{ group.id }}/?op=quit">{% trans "Quit" %}</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}


{% block right_panel %}

<div id="group-reply">
    <div class="w100 ovhd">
        <div class="pic fleft">{% avatar request.user.username 48 %}</div>
        <form id="group-message-form" action="" method="post" class="fright">
            <textarea name="message" id="message" placeholder="{% trans "Add a discusion..." %}">{{ form.data.message }}</textarea><br />
            {% for error in form.message.errors %}
            <p class="error">{{ error|escape }}</p>
            {% endfor %}
            <input type="submit" value="{% trans "Submit" %}" class="submit hide" />
            <button type="button" class="cancel hide">{% trans "Cancel" %}</button>
            <span class="say"></span>
        </form>
    </div>

{% if group_msgs %}
    <ul class="msg-list">
    {% for msg in group_msgs %}
        <li class="msg w100 ovhd">
        <div class="pic fleft">
            <a href="{{ SITE_ROOT }}profile/{{ msg.from_email }}/">{% avatar msg.from_email 48 %}</a>
        </div>
        <div class="txt fright">
            <div class="msg-main">
                <div class="msg-hd w100 ovhd">
                    {% if is_staff or msg.from_email == request.user.username %}
                    <span class="msg-del op fright vh" data-url="{% url 'group_message_remove' group.id msg.id %}">{% trans "Delete" %}</span>
                    {% endif %}
                    <a href="{{ SITE_ROOT }}profile/{{ msg.from_email }}/" title="{{ msg.from_email }}" class="author">{{ msg.from_email|email2nickname }}</a>
                    <span class="time">{{ msg.timestamp|translate_seahub_time }}</span>
                </div>
                <p class="msg-con">
                {% if msg.attachment.src == 'recommend' %}
                <span class="recommend">{% trans "Recommended" %}
                  {% if msg.attachment.attach_type == 'file' %}
                  <a href="{% url 'repo_view_file' msg.attachment.repo_id %}?p={{ msg.attachment.path|urlencode }}" target="_blank">
                  {% else %}
                  <a href="{% url 'repo' msg.attachment.repo_id %}?p={{ msg.attachment.path|urlencode }}" target="_blank">
                  {% endif %}
                  {{ msg.attachment.name }}</a> :
                </span>
                {% endif %}

                {% if msg.attachment.src == 'filecomment' %}
                <span class="recommend">{% trans "File " %}<a href="{% url 'repo_view_file' msg.attachment.repo_id %}?p={{ msg.attachment.path|urlencode }}&comment_open=true" target="_blank"> {{ msg.attachment.name }}</a> {% trans "has a new comment:"%}</span>
                {% endif %}
                
                {{ msg.message|seahub_urlize|find_at|linebreaksbr }}
                </p>
                <span class="say"></span>
            </div>
            <div class="msg-op">
                <div class="reply-cnt-op{% if msg.reply_cnt < 4 %} hide{% endif %}" data-rstatus="hide">
                    <span class="reply-cnt" data-url="{% url 'msg_reply' msg.id %}">{% blocktrans with cnt=msg.reply_cnt %}{{ cnt }} replies{% endblocktrans %}</span>
                    <span class="hide-reply hide">{% trans "Hide replies" %}</span>
                </div>
                {% if msg.reply_cnt == 0 %}
                <ul class="reply-list hide"></ul>
                {% else %}
                <ul class="reply-list">
                    {% for r in msg.replies %}
                    <li class="reply w100 ovhd">
                    <a href="{% url 'user_profile' r.from_email %}" class="pic fleft">{% avatar r.from_email 28 %}</a>
                    <div class="txt fright">
                        <a href="{% url 'user_profile' r.from_email %}">{{ r.from_email|email2nickname }}</a>
                        <span class="time">{{ r.timestamp|translate_seahub_time }}</span>
                        <span class="reply-at op vh" data="{{ r.from_email|email2nickname }}">{% trans 'Reply' %}</span>
                        <p class="reply-con">{{ r.message|seahub_urlize|find_at }}</p>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <textarea placeholder="{% trans "Add a reply..." %}" name="message" class="reply-input"></textarea>
                <p class="error hide">{% trans "It can not be blank and should be no more than 150 characters." %}</p>
                <button type="button" class="reply-submit hide" data-url="{% url 'msg_reply' msg.id %}">{% trans "Submit" %}</button>
                <button type="button" class="reply-cancel hide">{% trans "Cancel" %}</button>
            </div>
        </div>
        </li>
    {% endfor %}
    </ul>
{% endif %}

    <div id="paginator">
        {% if current_page != 1 %}
        <a href="{{ SITE_ROOT }}group/{{ group.id}}/?page={{ prev_page }}&per_page={{ per_page }}">{% trans "Previous" %}</a>
        {% endif %}
        {% if page_next %}
        <a href="{{ SITE_ROOT }}group/{{ group.id }}/?page={{ next_page }}&per_page={{ per_page }}">{% trans "Next"%}</a>
        {% endif %}
    </div>

    {% if group_msgs|length > 5 %}
    <a href="#group-reply" id="msg-upward" class="hide">{% trans "↑Top" %}</a>
    {% endif %}
</div>

{% include "snippets/user_profile_html.html" %}
{% endblock %}

{% block extra_script %}
{% include 'snippets/user_profile_js.html' %}
<script type="text/javascript">
{% if group_msgs|length > 5 %}
$(window).scroll(function() {
    var up_icon = $('#msg-upward');
    var msg_panel =  $('#group-reply');
    var msg_panel_offset = msg_panel.offset();
    var msg_panel_bot = msg_panel_offset.top + msg_panel.height(); 
    var win_st = $(window).scrollTop();
    var win_h = $(window).height() + win_st;

    if (win_st > $('#group-message-form').offset().top) {
        up_icon.css({'left': msg_panel_offset.left + msg_panel.width() + 60}).removeClass('hide');
        if (win_h > msg_panel_bot) {
            up_icon.css({'bottom': win_h - msg_panel_bot + 15});
        } else {
            up_icon.css({'bottom': 15});
        }
    } else {
        up_icon.addClass('hide');
    }
});
{% endif %}

addAtAutocomplete('#message', '#group-message-form', {{ group.id }}, "{% url 'group_attention' %}", {'border':'1px solid #ddd', 'width':'600px', 'height': '80px', 'word-wrap':'break-word', 'overflow-y':'auto', 'line-height': '1.5em'}); // remember to add unit (px or em) to line-height, as js in ie will take 1.5 as 1.5, not 1.5em

$('#message').focus(function() {
    $(this).height(75);
    $(this).parent().find('.submit, .cancel').removeClass('hide');
});
$('#group-message-form .cancel').click(function() {
    $(this).parent().find('.submit, .cancel').addClass('hide');
    $('#message').height(25);
});

$("table tr:gt(0)").hover(
    function() {
        $(this).find('.op-icon').css('cursor', 'pointer').removeClass('vh');
    },
    function() {
        $(this).find('.op-icon').addClass('vh');
    }
);
$('.msg-main, .reply').hover(
    function(){
        $(this).find('.op').removeClass('vh');
    },
    function(){
        $(this).find('.op').addClass('vh');
    }
);
$('.reply-cnt-op').hover(
    function() {
        $(this).children().css({'color':'#080'});
    },
    function() {
        $(this).children().css({'color':'#333'});
    }
).click(function() {
    var cnt_op = $(this); 
    var r_cnt = cnt_op.children('.reply-cnt'); 
    var url = r_cnt.data('url');
    var h_r = cnt_op.children('.hide-reply'); 
    var p = cnt_op.parent();
    var r_list = p.find('.reply-list');

    if (cnt_op.data('rstatus') == 'hide') {
        $.ajax({
            url: url,
            dataType: 'json',
            cache: true,
            success: function(data) {
                r_list.html(data['html']);
                r_cnt.addClass('hide');
                h_r.removeClass('hide')
                cnt_op.data('rstatus', 'show').data('cnt', data['r_num']);
                p.find('.reply').hover(
                    function() {
                        $(this).find('.op').removeClass('vh');
                    },
                    function(){
                        $(this).find('.op').addClass('vh');
                    }
                );
                p.find('.reply-at').click(replyAt);
            }
        });
    } else {
        h_r.addClass('hide'); 
        r_cnt.removeClass('hide');
        r_list.html(r_list.children()[cnt_op.data('cnt')-1]);
        cnt_op.data('rstatus', 'hide');
    }
});
$('.reply-input').focus(function() {
    $(this).height(50);
    $(this).parent().find('.reply-submit, .reply-cancel').removeClass('hide');
});
$('.reply-cancel').click(function() {
    var p = $(this).parent();
    p.find('.reply-submit, .reply-cancel, .error').addClass('hide');
    p.find('.reply-input').val('').height(20);
});
function replyAt() {
    var r = $(this).parents('.msg-op'); 
    var r_input = r.find('.reply-input'); 
    r_input.height(50).val('@' + $(this).attr('data') + ' ');
    r.find('.reply-submit, .reply-cancel').removeClass('hide');
    setCaretPos(r_input[0], r_input.val().length);
    r_input.focus();
}
$('.reply-at').click(replyAt);
$('.reply-submit').click(function() {
    var p = $(this).parent();
    var r_input = p.find('.reply-input');
    var r = $.trim(r_input.val()); 
    var err = p.find('.error');
    if (!r || r.length > 150) {
        err.removeClass('hide');
        return false;
    }

    err.addClass('hide');
    var sm = $(this);
    var url = sm.data('url');
    var r_list = p.find('.reply-list');
    disable(sm);
    $.ajax({
        type: "POST",
        url: url,
        dataType: 'json',
        cache: false,
        contentType: 'application/json; charset=utf-8',
        beforeSend: prepareCSRFToken,
        data: "message=" + r,
        success: function(data) {
            r_list.html(data['html']).removeClass('hide');
            if (data['r_num'] > 3) {
                var r_cnt = p.find('.reply-cnt');
                r_cnt.html(r_cnt.html().replace(/\d+/, data['r_num']));
                p.find('.reply-cnt-op').removeClass('hide');
            }
            enable(sm);
            r_input.val('').height(20);
            p.find('.reply-submit, .reply-cancel').addClass('hide');
            p.find('.reply').hover(
                function(){
                    $(this).find('.op').removeClass('vh');
                },
                function(){
                    $(this).find('.op').addClass('vh');
                }
            );
            p.find('.reply-at').click(replyAt);
        },
        error:function() {
           err.html('{% trans "Failed." %}').removeClass('hide'); 
           enable(sm);
        }
    }); 
});

var contact_list = [], contact_email;
{% for contact in contacts %}
contact_email = '{{ contact.contact_email }}';
contact_list.push({value:contact_email, label:contact_email});
{% endfor %}

$('.msg-del').click(function() {
    var url = $(this).data('url');
    var msg = $(this).parents('.msg');
    var cfm;
    if (msg.find('.msg-del-confirm').length > 0) {
        cfm = msg.find('.msg-del-confirm');
    } else {
        cfm = '<div class="msg-del-confirm hide"><p>{% trans "Really want to delete this message?" %}</p><button class="yes">{% trans "Yes" %}</button><button class="no">{% trans "No" %}</button></div>';
        var msg_main = msg.find('.msg-main');
        var msg_hd = msg.find('.msg-hd');
        cfm = msg_main.append(cfm).children(':last');
        cfm.css({'right':msg_main.css('padding-right'), 'top':msg_hd.position().top + msg_hd.height()});
    }
    cfm.removeClass('hide');
    cfm.children('.yes').click(function() {
        cfm.remove();
        $.ajax({
            url: url,
            dataType:'json',
            success: function(data) {
                if (data['success']) {
                    msg.remove();
                    feedback('{% trans "Successfully deleted" %}', 'success');
                } else {
                    feedback('{% trans "Failed to delete: " %}' + data['err_msg'], 'error');
                }
            },
            error: function() {
                feedback('{% trans "Failed." %}', 'error');
            }
        });
    });
    cfm.children('.no').click(function() {
        cfm.remove();
    });
});

{% url 'group_members' group.id as member_add_url %}
{% with post_url=member_add_url %}
{% include 'group/grpmember_add_js.html' %}
{% endwith %}

</script>
{% endblock %}
